<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Ficha de Inscrição - Home</title>
</head>
<body>
    <header>
        <div class="logo"><img src="https://icon-library.com/images/gym-icon/gym-icon-10.jpg" width="50"></div> 
        <div class="title1">Academia .GetBody</div>
        <div class="menu">
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/formulario">Inscrição</a>
                    <a href="/sobre" id="active">Sobre</a>
                </li>
            </ul>
        </div> 
    </header>

    <main>
        <div class="sobre">
            <div class="titulo"> Academia .GetBody
                <div class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora eveniet, id odio dignissimos maiores magni excepturi necessitatibus recusandae. Reprehenderit nemo accusantium sint explicabo eum rerum nobis iure culpa nihil!</div>
            </div>
            <div class="contatos"> Contatos:
                <div class="infos">
                    <p>Tel: (21) 99876-5432 <i class="fa fa-whatsapp fa-lg"></i> </p>
                    <a>E-mail: academia.getbody@gmail.com</a> <br>
                    <i class="fa fa-instagram fa-lg"></i> | <i class="fa fa-facebook fa-lg"></i>
                </div>
            </div>
            <div class="horario"> Funcionamento:
                <div class="funcionamento">
                    Seg-Sex: 07:00 - 23:00 <br>
                    Sab: 07:00 - 17:00 <br>
                    Dom: 08:00 - 14:00
                </div>
            </div>
            

            
        </div>

    </main>

    <footer>
        <div class="icons"><i class="fa fa-instagram fa-lg"></i> | <i class="fa fa-facebook fa-lg"></i></div>
        <div class="developed">© 2021 Dev. Gabriela Manzo</div>
    </footer>
    
</body>
</html>