<div class="slice">
    <div class="title">Informações Pessoais</div>
    <div class="form-info">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Insira o seu nome completo">
    </div>
    <div class="form-info">
        <label for="date">Data de nascimento:</label>
        <input type="text" name="date" placeholder="ddd/mmm/aaa">
    </div>
    <div class="form-info">
        <label for="tel">Telefone:</label>
        <input type="tel" name="tel" placeholder="Numero de Telefone">

    </div>
    <div class="form-info">
        <label for="email">E-mail:</label>
        <input type="email" name="email" placeholder="Insira seu e-mail">
    </div>
    <div class="form-info">
        <label for="adress">Endereço:</label>
        <input type="text" name="adress" placeholder="Informe seu endereço">
        <input type="text" name="adress" placeholder="CEP">
    </div>
    <div class="form-info">
        <label for="gender">Genero:</label>
        <input id="1" type="radio" name="gender" value="1" checked>
        <label for="1">Feminino</label>
        <input id="2" type="radio" name="gender" value="2">
        <label for="2">Masculino</label>
        <input id="3" type="radio" name="gender" value="3">
        <label for="3">Outro</label>
    </div>
</div>